header{
    background-color: white;
    width: 100%;
}
.one{
    margin-left:50%;
    width:20%;
    margin-left:45%;
}
footer {
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-left: 7%;
    width: 85%;
}
.three{ 
    width:30%;
    margin-top:0%;
    margin-left:2%;
}
.four{
    width:30%;
    margin-top:-19%;
    margin-left:0.5%;
}
.five{
    width:30%;
    margin-left:65%;
    margin-top:-18.5%;
}
h3 {
    color:white;
    text-align: center;
    padding: 10px;
}
h4 {
    text-align: center;
 }
.eight {
    text-align: center;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:40px;
    background-color:grey;
    font-family:'poppins',sans-serif;
}
.nav-links{
    display:flex;
    justify-content:space-between;
    width:50%;
}
.nav-links li{
    list-style-type:none;
}
.nav-links a{
    color:rgb(226,226,226);
    text-decoration:none;
    font-weight:bold;
    font-size:15px;
}
.mike{
    color:white;
    text-align: center;
   padding: 10px;
}


